<div class="calend">
  <hr />
  <div class="calend__control">
    <ul>
      <li>
        <h1 class="month-year">Сентябрь 2021</h1>
      </li>
      <li>
        <mat-form-field class="mat-none" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button
          class="date-btn"
          mat-raised-button
          (click)="picker.open()"
        ></button>
      </li>
      <li>
        <mat-form-field appearance="fill">
          <mat-select value="неделя">
            <mat-option value="день">день</mat-option>
            <mat-option value="неделя">неделя</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li>
        <button class="left-btn"></button>
        <button class="right-btn"></button>
      </li>
    </ul>
  </div>
  <hr />
  <div class="scroll">
    <table class="cal" cellspacing="0">
      <tr>
        <td class="border-left-top border-top-left"></td>
        <td class="border-top">
          <span class="date">13</span><span class="dayw">пн</span>
        </td>
        <td class="border-top">
          <span class="date">13</span><span class="dayw">пн</span>
        </td>
        <td class="border-top">
          <span class="date">13</span><span class="dayw">пн</span>
        </td>
        <td class="border-top">
          <span class="date">13</span><span class="dayw">пн</span>
        </td>
        <td class="border-top">
          <span class="date">13</span><span class="dayw">пн</span>
        </td>
        <td class="border-top">
          <span class="date">13</span><span class="dayw">пн</span>
        </td>
        <td class="border-top border-right">
          <span class="date">13</span><span class="dayw">пн</span>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">08</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell active" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell disabled" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell disabled" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">09</span></td>
        <td>
          <table class="cell disabled" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">10</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">11</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">12</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">13</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">14</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">15</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="r">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">16</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">17</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">18</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">19</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">20</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">21</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="border-left"><span class="dayw">22</span></td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
        <td class="border-right">
          <table class="cell" cellspacing="0" border="0">
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
