<div class="main">
  <div class="pay">
    <div class="pay__container">
      <div class="balance"></div>
      <div class="sum"></div>
      <h1 class="pay__title">Стоимость урока</h1>
      <h2 class="pay__subtitle">0,00</h2>
    </div>
  </div>
  <div class="history">
    <div class="history__container">
      <h1 class="history__title">история платежей</h1>
      <div class="history__table">
        <app-payment-table></app-payment-table>
      </div>
    </div>
  </div>
</div>

<!-- OLD LAYOUT -->
<!-- <section class="pay">
  <div class="container">
    <h1 class="title">информация об оплате</h1>
    <div class="pay__wrapper">
      <div class="payment">
        <div class="payment__wrapper">
          <h2 class="payment__title">Оплата за обучение</h2>
          <div class="payment__subwrapper">
            <input type="text" name="sum" class="payment__sum" />
            <button class="payment__btn">оплатить</button>
          </div>
        </div>
      </div>
      <div class="sum">
        <p class="sum__lesson">
          <strong class="sum__bold">Оплата за урок:</strong>
          <span class="sum__reg">0,00</span>
        </p>
        <p class="sum__amount">
          <strong class="sum__bold">Остаток на счету:</strong>
          <span class="sum__reg">0,00</span>
        </p>
      </div>
    </div>
    <div class="payment">
      <h2 class="subtitle">история платежей</h2>
      <table class="pay-table" cellspacing="0">
        <tr>
          <td class="pay-table__date table-title">
            <p>дата</p>
          </td>
          <td class="pay-table__admission table-title">
            <p>поступление</p>
          </td>
          <td class="pay-table__write-off table-title">
            <p>списание</p>
          </td>
          <td class="pay-table__sum table-title">
            <p>сума</p>
          </td>
        </tr>
        <tr>
          <td class="pay-table__date"></td>
          <td class="pay-table__admission"></td>
          <td class="pay-table__write-off"></td>
          <td class="pay-table__sum"></td>
        </tr>
        <tr>
          <td class="pay-table__date"></td>
          <td class="pay-table__admission"></td>
          <td class="pay-table__write-off"></td>
          <td class="pay-table__sum"></td>
        </tr>
        <tr>
          <td class="pay-table__date"></td>
          <td class="pay-table__admission"></td>
          <td class="pay-table__write-off"></td>
          <td class="pay-table__sum"></td>
        </tr>
        <tr>
          <td class="pay-table__date"></td>
          <td class="pay-table__admission"></td>
          <td class="pay-table__write-off"></td>
          <td class="pay-table__sum"></td>
        </tr>
        <tr>
          <td class="pay-table__date"></td>
          <td class="pay-table__admission"></td>
          <td class="pay-table__write-off"></td>
          <td class="pay-table__sum"></td>
        </tr>
        <tr>
          <td class="pay-table__date"></td>
          <td class="pay-table__admission"></td>
          <td class="pay-table__write-off"></td>
          <td class="pay-table__sum"></td>
        </tr>
      </table>
    </div>
  </div>
</section> -->
