<div class="main-container">
  <div class="photo-container">
    <img
      src="./assets/icons/add_photo.svg"
      alt="Your Profile Photo"
      class="profile-photo"
    />
  </div>
  <div class="icons-container">
    <div class="icon-container">
      <img class="icon" src="../../../assets/icons/my-profile-sidebar.svg" />
    </div>
    <div class="icon-container">
      <img class="icon" src="../../../assets/icons/calendar-sidebar.svg" />
    </div>
    <div class="icon-container">
      <img class="icon" src="../../../assets/icons/lessons-sidebar.svg" />
    </div>

    <div class="icon-container">
      <img class="icon" src="../../../assets/icons/chat-sidebar.svg" />
    </div>
    <div class="icon-container">
      <img class="icon" src="../../../assets/icons/payment-sidebar.svg" />
    </div>
  </div>

  <div class="arrow-container">
    <img src="../../../assets/icons/arrow-sidebar.svg" class="arrow" />
  </div>

  <div class="logout-container">
    <img src="../../../assets/icons/logout-sidebar.svg" class="logout" />
    <div class="logout-sideblock"></div>
  </div>
</div>
