<main class="main-container">
  <div class="photo-container">
    <img
      src="./assets/icons/add_photo.svg"
      alt="Your Profile Photo"
      class="profile-photo"
    />
  </div>
  <ul class="icons">
    <li class="icon-container" routerLink="student">
      <img class="icon" src="/assets/icons/my-profile-sidebar.svg" />
    </li>
    <li class="icon-container">
      <img class="icon" src="/assets/icons/calendar-sidebar.svg" />
    </li>
    <li class="icon-container">
      <img class="icon" src="/assets/icons/lessons-sidebar.svg" />
    </li>
    <li class="icon-container">
      <img class="icon" src="/assets/icons/chat-sidebar.svg" />
    </li>
    <li class="icon-container" routerLink="payment">
      <img class="icon" src="/assets/icons/payment-sidebar.svg" />
    </li>
  </ul>

  <div class="arrow-container">
    <img src="/assets/icons/arrow-sidebar.svg" class="arrow" />
  </div>

  <div class="logout-container" routerLink="">
    <img src="/assets/icons/logout-sidebar.svg" class="logout-icon" />
    <div class="logout-sideblock"></div>
  </div>
</main>
