.forgot-pass {
  padding: 170px 320px 201px 478px;
  background: url("/assets/img/reg-bg.png") no-repeat center center/cover;
}
.form_wrapper {
  position: relative;
  width: 384px;
  background: #272727;
  padding: 54px 79px 0;
  border-radius: 30px;
}
.pass-header {
  font-family: "Roboto Bold";
  font-size: 1.5em;
  line-height: 2em;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 33px;
}
.pass-form {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Bold";
  &__input {
    width: 324px;
    height: 51px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0 28px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    &::-webkit-input-placeholder {
      color: #a4a4a4;
    }
    &::-moz-placeholder {
      color: #a4a4a4;
    }
    &::-ms-input-placeholder {
      color: #a4a4a4;
    }
    &::-moz-placeholder {
      color: #a4a4a4;
    }
    &::placeholder {
      color: #a4a4a4;
    }
  }
  &__btn {
    width: 384px;
    height: 51px;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #0075ff;
    border-radius: 30px;
    display: block;
    margin-top: 13px;
    margin-bottom: 55px;
    cursor: pointer;
    border: none;
    &:active {
      background: #0075ff;
      box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
    }
  }
}
