<header class="header">
  <h1 class="header__title">профиль студента</h1>
  <div class="header__icons">
    <img
      class="header__icons-bell"
      src="/assets/icons/bell.svg"
      alt="Уведомления"
    />
    <img
      class="header__icons-profile"
      src="/assets/icons/profile.svg"
      alt="Ваш профиль"
    />
    <img
      class="header__icons-logout"
      src="/assets/icons/logout.svg"
      alt="Выйти"
    />
  </div>
</header>
<div class="container">
  <section class="description">
    <form class="student-form">
      <div class="flex-row">
        <img src="/assets/icons/add_photo.svg" alt="Добавить фото" />
        <div class="student-form__top">
          <h1 class="student-form__title">Имя Фамилия</h1>
          <button
            mat-raised-button
            color="primary"
            (click)="openSnackBarPrimary()"
          >
            Send message primary
          </button>
          <button
            mat-raised-button
            style="background-color: yellow"
            (click)="openSnackBarWarn()"
          >
            Send message warn
          </button>
          <button
            mat-raised-button
            style="background-color: red"
            (click)="openSnackBarError()"
          >
            Send message error
          </button>
          <button
            mat-raised-button
            style="background-color: green"
            (click)="openSnackBarSuccess()"
          >
            Send message success
          </button>

          <div class="field">
            <label class="form__label" for="e-mail">e-mail:</label>
            <input class="student-form__email" type="email" name="e-mail" />
          </div>
          <div class="field">
            <label class="form__label" for="Phone">телефон:</label>
            <input
              class="student-form__phone"
              type="tel"
              name="Phone"
              pattern="[0-9]{3,15}"
            />
          </div>
        </div>
      </div>
      <div class="bottom">
        <label class="form__label" for="about-student">О себе:</label>
        <textarea
          class="student-form__about"
          name="about-student"
          placeholder="Не более 200 символов"
        >
        </textarea>
        <div class="field">
          <label class="form__label teacher" for="teacher"
            >Мой преподаватель:</label
          >
          <input class="student-form__teacher" type="text" name="teacher" />
        </div>
        <div class="right">
          <button class="student-form__save">сохранить</button>
        </div>
      </div>
    </form>
  </section>
  <section class="calendar">
    <h1 class="classes">Мои занятия</h1>
    <!-- <app-calendar></app-calendar> -->
    <button class="create-btn">создать сообщение</button>
  </section>
</div>
