button {
    width: 384px;
    height: 50px;
    left: 528px;
    top: 708px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #0075FF;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 27px;
    cursor: pointer;
}